## IDE and text editors files and dirs
.vscode/
.idea/
*.iml

## Python Virtual Environment
.venv/
.env/
venv/
env/

## Python running dirs
__pycache__/

## Development files and dirs
ui_templates/files/*.py
*.pyc
*.pyo
*.so
